@model AspNet.Models.BusTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusCnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusCnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusGap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusGap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusNowIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusNowIn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BusIdx">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
