@model IEnumerable<AspNet.Models.BusTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusCnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusGap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNowIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusCnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusGap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusNowIn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BusIdx">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BusIdx">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BusIdx">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
